/* General styles */
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.header {
    display: flex;
    justify-content:center;
    background-color: #2b8f868c;
    color: white;
    padding: 10px 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.contaner__nav {
    padding: 30px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

section {
    padding: 20px;
    border-bottom: 1px solid #ddd;
    background-color: white;
    margin-bottom: 20px;
}

section h1 {
    text-align: center;
    color: #333;
    font-size: 2em;
    margin-bottom: 10px;
}

section p {
    text-align: center;
    font-size: 1.2em;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto 20px auto;
}

section img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.video-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.video-container iframe {
    border: none;
    border-radius: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .video-container {
        flex-direction: column;
        align-items: center;
    }

    .video-container iframe {
        width: 90%;
        height: auto;
    }
}
